<section
  class="full-one-screen dark-background"
  layout="column"
  layout-align="center center"
>
  <div class="full-screen-wolf-background"></div>

  <md-card class="width--50-percent--xl-up width--70-percent" layout>
    <left-container
      class="full-size--flex relative-position"
      flex="35"
      md-colors="{ background: 'default-primary' }"
    /></left-container>

    <right-container
      class="full-size--flex relative-position padding-all"
      layout="column"
      layout-align="start center"
      flex="65"
    /></right-container>

  </md-card>

  <div class="z-index--footer" ui-view="footer"></div>
</section>
