<md-card class="organize-section__card no-margin--left padding-all--small clickable relative-position" layout="column">
  <div
    class="full-size absolute-position top--0 left--0"
    flex
    ui-sref="main.organize.todo({ todoId: $ctrl.toDo._id })"
  ></div>
  <div flex layout layout-align="start center">
    <md-input-container class="no-margin">
      <md-tooltip md-direction="top">{{ $ctrl.checkboxTooltip }}</md-tooltip>
      <md-checkbox
        aria-label="{{ $ctrl.checkboxTooltip }}"
        class="no-margin"
        name="mark"
        ng-model="$ctrl.toDo.isCompleted"
        ng-change="$ctrl.toggleCompleted()"
      ></md-checkbox>
    </md-input-container>
    <span flex class="organize-section__text">{{ $ctrl.toDo.name }}</span>
    <div layout layout-align="start center" ng-if="$ctrl.toDo.dueDate !== undefined" ng-class="$ctrl.dueDateClass">
      <img ng-src="{{ $ctrl.deadlineIconUrl }}" class="size--16px margin-right--4px" />
      <span class="font-size--12 grey-text">{{ $ctrl.toDo.dueDate | date: 'MMM d' }}</span>
    </div>
    <md-button
      class="md-accent size--24px md-icon-button no-padding no-margin--right"
      ng-click="$ctrl.toggleFocused()"
      ng-if="$ctrl.appbarData.statusFilter !== 'completed'"
    >
      <md-tooltip md-direction="top">{{ $ctrl.starTooltip }}</md-tooltip>
      <md-icon md-svg-icon="{{ $ctrl.starIconUrl }}" class="size--16px"></md-icon>
    </md-button>
  </div>

  <div class="margin-top--xsmall" flex layout layout-align="start center">
    <div layout layout-align="start center" ng-if="$ctrl.toDo.effort !== undefined">
      <img
        ng-src="{{ $ctrl.effortIconUrl }}"
        class="margin-left--mlarge margin-right--4px"
        width="20px"
        height="13px"
      />
      <span class="font-size--12 grey-text margin-right--small"
        >{{ $ctrl.toDo.effort | capitalizeFirstLetter }} effort</span
      >
    </div>
    <div layout layout-align="start center" ng-if="$ctrl.toDo.subtasks.length > 0">
      <img ng-src="{{ $ctrl.subTaskIconUrl }}" class="margin-left--mlarge margin-right--4px size--16px" />
      <span class="font-size--12 grey-text"
        >{{ $ctrl.toDo.numOfSubtasksDone }} of {{ $ctrl.toDo.subtasks.length }} subtasks done</span
      >
    </div>
  </div>

  <paper-loading ng-if="$ctrl.isLoading"></paper-loading>
</md-card>
