<form
  name="registerForm"
  ng-submit="registerForm.$valid && $ctrl.submitRegisterForm(registerForm)"
  class="full-width"
  layout="column"
  layout-margin
  novalidate
>
  <md-input-container class="md-icon-float md-block">
    <label>Name</label>
    <md-icon md-font-set="material-icons">assignment_ind</md-icon>
    <input ng-model="$ctrl.userData.name" type="text" name="name" required />
    <div ng-messages="registerForm.name.$error" role="alert"><div ng-message="required">Name is required.</div></div>
  </md-input-container>

  <md-input-container class="md-icon-float md-block">
    <label>Email</label>
    <md-icon md-font-set="material-icons">account_circle</md-icon>
    <input
      ng-model="$ctrl.userData.email"
      ng-change="$ctrl.resetServerErrors(registerForm)"
      type="email"
      name="email"
      required
    />
    <div ng-messages="registerForm.email.$error" role="alert">
      <div ng-message="required">Email is required.</div>
      <div ng-message="email">Invalid email format.</div>
      <div ng-message="alreadyExists">Email has been taken.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-icon-float md-block margin-bottom--small">
    <label>Password</label>
    <md-icon md-font-set="material-icons">lock</md-icon>
    <input ng-model="$ctrl.userData.password" type="password" name="password" required />
    <div ng-messages="registerForm.password.$error" role="alert">
      <div ng-message="required">Password is required.</div>
    </div>
  </md-input-container>

  <div layout layout-align="space-between center">
    <md-button class="md-raised md-primary" type="submit">Register</md-button>

    <div>
      <span class="md-body-2 action-color">Or register with</span>
      <md-button class="no-padding no-margin md-icon-button" ng-click="$ctrl.registerWithGoogle()">
        <md-icon md-svg-icon="{{ $ctrl.googleIconUrl }}"></md-icon>
      </md-button>
    </div>
  </div>
</form>
