.organize-appbar__search {
  background: #567efb;
  border-radius: 3px;

  > input {
    border: none;
    color: white;

    &::placeholder {
      color: white !important;
      opacity: 0.8;
    }
  }

  > md-icon {
    color: white !important;
    margin-left: 5px;
    line-height: 0.8;
    opacity: 0.8;
  }
}
