.absolute-position {
  position: absolute;
}

.relative-position {
  position: relative;
}

.fixed-position {
  position: fixed;
}

.left--0 {
  left: 0;
}

.top--0 {
  top: 0;
}

.bottom--0 {
  bottom: 0;
}
