::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #212121;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #212121;
}

::-webkit-scrollbar-thumb {
  background-color: #3867fa;
}
